
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
           <h2> Merhabalar</h2>
            <h4> Cv Sitemize Hoşgeldiniz bilgilerinizi güncellemek için lütfen üst kısımdaki menümüz kullanarak gerekli alanları güncelleyebilir gerekli eklemeleri yapabilirsiniz</h4>
           

        </div>

    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />